[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras-ocr = "*"
fastapi = "*"
uvicorn = {extras = ["standard"],version = "*"}
python-multipart = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.9"
